<p class="six columns">Copyright @System.DateTime.Now.Year  @WorkContext.CurrentSite.SiteName</p>
<p class="six columns last text-right op-branding"><a href="http://www.orchardprime.com/?via-themefooterlink&viatheme=converse">Theme Designed <em class="amp">&amp;</em> Made by Orchard Prime</a></p>